.border {
    padding: 20px 0;
}

.teampage__text {
    font-size: 20px;
    margin: 0 0 40px;
}

.team-page__img {
    background-size: cover;
    width: 100%;
    border-radius: 30px;
}

.donate {
    background-image: url(../assets/whatwedo/map.png);
    background-repeat: no-repeat;
    padding: 3px 150px 260px;
    margin-bottom: 100px;
    overflow: hidden;
    background-size: contain;

    @media (max-width: 768px) {
        padding: 3px 45px 260px;
    }

    @media (max-width: 360px) {
        padding: 3px 9px 260px;
    }

    .donate__items {
        margin-top: 68px;

        @media (max-width: 992px) {
            padding: 3px -5px 260px;
        }

        @media (max-width: 768px) {
            margin-top: 20px;
        }
    }

    &__passage {
        max-width: 1000px;

        .donate__title {
            font-size: 40px;

            @media (max-width: 992px) {
                font-size: 20px;
            }

            @media (max-width: 576px) {
                margin: 0.7em 0;
                font-size: 15px;
            }
        }

        .donate__text {
            font-size: 30px;

            @media (max-width: 992px) {
                font-size: 20px;
            }

            @media (max-width: 768px) {
                font-size: 15px;
            }

            @media (max-width: 360px) {
                font-size: 10px;
            }
        }
    }
}

.btn__donate {
    text-align: center;
    display: block;
    width: 180px;
    height: 50px;
    border-radius: 17.126px;
    background: #4ca2d4;
    margin-top: 62px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 700;
    padding: 1.5rem 2.5rem;

    a {
        text-decoration: none;
        color: rgb(249, 248, 246);
    }

    &:hover {
        background: #187fba;
        cursor: pointer;
        text-decoration: none;
    }

    @media (max-width: 768px) {
        margin-top: 59px;
        margin-bottom: -36px;
    }

    @media (max-width: 576px) {
        width: 106px;
        height: 30px;
        font-size: 10px;
        padding: 0.9rem 2.5rem;
        margin-top: 37px;
    }

    @media (max-width: 425px) {
        margin-top: 75px;
        margin-bottom: -95px;
    }

    @media (max-width: 360px) {
        margin-top: 60px;
        margin-bottom: -28px;
    }
}

#news-list {
    font-size: 15px;
    margin-top: 30px;
}


.news__section {
    max-width: 1170px;
    margin: 0 auto;
    padding: 40px 0;

    .news__link {
        text-decoration: none;
        color: #073b71;
        cursor: pointer;
        transition: 0.5s;
    }

    h2{
        margin: 20px 0;
    }

    p{
        font-size: 15px;
    }

    li {
        list-style-type: none;
        margin: 15px 0;
        border-bottom: 1px solid grey;
        padding-bottom: 10px;

        a {
            text-decoration: none;
            color: #000204;
        }
    }

    .section {
        @media (max-width: 576px) {
            padding-bottom: 40px;
        }
    }

}