@import '_normalize';
@import '_vars';
@import '_slider';
@import '_teampage';

* {
    box-sizing: border-box;
    padding: 0;
}

html,
body {
    min-height: 100vh;
    font-family: $font_family_main;
    font-size: $font_size_main;
}

.container {
    max-width: $container_width;
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

p {
    margin: 0;
}

.highlighted__black {
    font-weight: 700;


}



.header {
    padding: 30px 20px;

    .logo {
        max-width: 80px;
    }

    .logo_description {
        font-size: 15px;
        margin: 0 auto;
    }

    .logo-text {
        margin-left: 15px;
        font-size: 11px;
        color: rgb(59 68 75);

    }

    @media (max-width: 576px) {
        padding: 53px 130px 80px;
    }

    @media (max-width: 360px) {
        padding: 53px 70px 260px;
    }

    .check {
        display: none;
        width: 27px;
        height: 6px;
        background-color: #4ca2d4;
    }


    .check:not(:last-of-type) {
        margin-bottom: 4px;
    }

    .checkbox,
    .check-wrapper {
        display: none;
    }

    .flex_menu {
        display: flex;
    }

    &_nav {


        .flex_menu {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 60px;


            .header__li {
                list-style-type: none;
                
                .header__link {
                    color: rgb(59 68 75);
                    font-family: 'Open Sans', sans-serif;
                    font-size: 12px;
                    text-decoration: none;
                    outline: none;  

                }

            }

        }
    }
}

.highlighted {
    color: #e7d63e;
}

.first-screen {

    .slider {
        width: 100%;
        margin: 0 auto;
        padding-bottom: 60px;
    }


    &__content {
        max-width: 950px;
        text-align: center;


        .first-screen__title {
            text-align: center;
            color: #ffffff;
            font-size: 45px;
            letter-spacing: 5px;
            margin-bottom: 20px;

        }

        .first-screen__text {
            color: #ffffff;
            font-size: 30px;
            margin: 0 auto;
        }
    }

}

.section {
    padding-bottom: 100px;
}

.activities__passage {
    text-align: center;



    .activities__slogan {
        font-size: 22px;
        color: rgb(83, 81, 79);
        margin: 53px;
    }
}

.activities__cards {
    padding: 40px 0;
    position: relative;

    &:before {
        content: "";
        position: absolute;
        left: 340px;
        top: 46px;
        height: 80%;
        width: 0.5px;
        background-color: #858894;

    }

    &:after {
        content: "";
        position: absolute;
        right: 340px;
        top: 46px;
        height: 80%;
        width: 0.5px;
        background-color: #858894;

    }

    .activities__flex {
        text-align: center;

        .activities__img {
            max-width: 203px;

            &:hover {
                display: block;
                transform: rotate(360deg);
                transition: 3s;
                cursor: pointer;
            }
        }
    }
}

.title {
    font-size: 20px;
}

.title__main {
    color: rgb(56, 62, 67);
    font-size: 30px;
    font-weight: 700;
    margin: 0 auto;
}


.about__text {
    font-size: 15px;
    margin: 20px 0;
}

.text {
    font-size: 12px;
    max-width: 200px;
}

.about__img {
    max-width: 400px;
}


.btn {
    display: block;
    width: 188px;
    height: 57px;
    border-radius: 17.126px;
    background: #4ca2d4;
    margin-top: 62px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    padding: 1.8rem 2.6rem;

    &:hover {
        background: #187fba;
        cursor: pointer;
        transition: 1s;
    }

}

.about {


    &__passage {
        margin-left: 70px;


        .about__title {
            font-size: 23px;
            color: #0678ba;
            margin: 0;
        }

    }
}

/*.profile{
    text-align: center;

    &__pic{
       margin: 60px 0;
    }
}*/


.team {
    text-align: center;
    position: relative;

    &__bg {
        text-align: center;
        margin: 98px;
        opacity: 0.6;
    }

    .card:first-of-type {
        content: "";
        position: absolute;
        left: 777px;
        top: 297px;
    }

    .card:nth-of-type(2) {
        content: "";
        position: absolute;
        left: 476px;
        top: 625px;
    }

    .card:nth-of-type(3) {
        content: "";
        position: absolute;
        left: 137px;
        top: 315px;
    }

    .card:nth-of-type(4) {
        content: "";
        position: absolute;
        left: 460px;
        top: 102px;
    }


    .card {
        background-color: #858183;
        color: #ffffff;
        border-radius: 20px;
        max-width: 240px;
        height: 403px;

        img {
            border-radius: 20px 20px 0 0;
        }

        .card__text {

            max-width: 200px;
            margin: 0 auto;

            h6 {
                font-size: 20px;
                margin: 10px 0;
            }

            p {
                font-size: 15px;
                margin-bottom: 20px;
            }
        }
    }
}

footer {
    background-color: #46464a;
    padding: 20px 0 50px;
    color: #ffffff;
    font-size: 20px;


    .social {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        list-style: none;

        .social__item {
            width: 38px;
            height: 38px;
            background: #EFEEF3;
            border-radius: 5px;
            display: flex;
            justify-content: center;

            .social-link {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 38px;
                width: 38px;
                background: #EFEEF3;
                border-radius: 5px;

                &:hover .social1 {
                    fill: #d443a1;
                }

                &:hover .social2 {
                    fill: #8b3dcb;
                }

                &:hover .social3 {
                    fill: #246ec8;
                }


                .social-icon {
                    fill: #7c7777;
                }
            }
        }
    }

    .contacts {
        text-decoration: none;
        color: #ffffff;
    }
}

#up {
    display: none;
    position: fixed;
    width: 50px;
    height: 50px;
    font-size: 22px;
    font-weight: bold;
    bottom: 100px;
    right: 20px;
    background-color: #4ca2d4;
    border-radius: 50%;
    color: white;
    cursor: pointer;
}

#up span {
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    transform: translate(-50%, -40%);
}


@media (max-width: 1280px) {

    .container {
        max-width: 1090px;
    }
}

@media (max-width: 1200px) {


    .header {



        .checkbox,
        .check-wrapper {
            display: block;
        }

        .check {
            display: block;
            transition: 300ms;
        }

        .header_nav {
            display: none;
        }

        .header__link {
            color: #ffffff;
        }

        .menu_all {
            display: none;
        }

        .flex_menu {
            display: flex;
            flex-direction: column;
            row-gap: 5px;
            padding: 43px;
            margin-left: 3px;

        }

        .menu {
            position: relative;
        }



        .checkbox {
            position: absolute;
            width: 30px;
            height: 30px;
            margin: 0;
            top: 0;
            right: 0;
            opacity: 0;
            z-index: 4;
        }


        .check_wrapper {
            z-index: 3;
            position: relative;


        }



        .checkbox:checked~.check_wrapper>.check:first-of-type {
            transform: rotate(45deg) translate(12px, 7px);
        }

        .checkbox:checked~.check_wrapper>.check:nth-of-type(2) {
            opacity: 0;
        }

        .checkbox:checked~.check_wrapper>.check:last-of-type {
            transform: rotate(312deg) translate(7px, 0px);
        }

        .checkbox:checked~.menu_all {
            display: flex;
            flex-direction: column;
            position: fixed;
            background-color: #dfded7;
            top: 37px;
            right: 9px;
            z-index: 2;
            border-radius: 6px;
        }

    }

    .main {
        .first-screen .main__container>div:last-of-type {
            display: none;
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 852px;
    }

    .header .checkbox:checked~.menu_all {
        right: 11px;
    }

    .first-screen__content {
        max-width: 700px;

        .first-screen__text {
            font-size: 22px;
        }
    }


    .activities__cards {
        justify-content: center;

        .activities__flex {

            .activities__img {
                max-width: 123px;
            }
        }
    }

    .activities__cards:after {
        display: none;
    }

    .activities__cards:before {
        display: none;
    }

    .about {
        .flex {
            flex-direction: column;

            .about__img {
                margin-bottom: 45px;
            }

            .about__passage {
                text-align: center;
                margin: 0 auto;

                .btn {
                    margin: 40px auto;
                }
            }
        }
    }

    .team .card:nth-of-type(4) {
        left: 186px;
        top: 101px;
        padding-bottom: 24px;
    }

    .team .card:first-of-type {
        left: 495px;
        top: 101px;
    }

    .team .card:nth-of-type(3) {
        left: 186px;
        top: 546px;
    }

    .team .card:nth-of-type(2) {
        left: 495px;
        top: 546px;
        padding-bottom: 20px;
    }

    .team__bg {
        position: relative;
        top: 10px;
        left: -419px;
        max-width: 600px;
    }

    footer {
        margin-top: 100px;
    }
}


@media (max-width: 768px) {
    .container {
        max-width: 626px;
    }

    .header {
        .checkbox:checked~.menu_all {
            right: 56px;
        }
    }

    .first-screen__content {
        max-width: 497px;
        top: 20px;

        .first-screen__title {
            font-size: 30px;
        }
    }

    .activities__cards {
        flex-direction: column;
        gap: 30px;

        .activities__flex {

            .activities__img {
                max-width: 200px;
            }
        }
    }



    .team {
        margin-bottom: 1100px;

        .team__bg {
            max-width: 460px;
            top: 165px;
        }

        .card:first-of-type {
            left: 191px;
            top: 1014px;
        }

        .card:nth-of-type(4) {
            left: 191px;
        }

        .card:nth-of-type(3) {
            left: 191px;
        }

        .card:nth-of-type(2) {
            left: 191px;
            top: 1462px;
        }
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 500px;
    }

    .header {
        padding: 24px 27px;

        .flex_menu {
            padding: 35px 20px 20px;
        }

        .check {
            width: 14px;
            height: 3px;
        }

        .checkbox:checked~.check_wrapper>.check:first-of-type {
            transform: rotate(45deg) translate(10px, 3px);
        }

        .checkbox:checked~.menu_all {
            right: 12px;
            top: 31px;
        }

        .logo-text {
            p {
                display: none;
            }
        }
    }

    .first-screen__content {
        max-width: 355px;

        .first-screen__title {
            font-size: 20px;
        }

        .first-screen__text {
            font-size: 16px;
        }
    }

    .team {
        margin-bottom: 1730px;

        .team__bg {
            display: none;
        }

        .card:first-of-type {
            left: 130px;
        }

        .card:nth-of-type(4) {
            left: 130px;
        }

        .card:nth-of-type(3) {
            left: 130px;
        }

        .card:nth-of-type(2) {
            left: 130px;
        }
    }

    footer {
        font-size: 15px;
    }
}

@media (max-width: 360px) {
    .container {
        max-width: 300px;
    }

    .header {
        .logo {
            max-width: 37px;
        }

        .logo_description {
            font-size: 7px;
        }

        .checkbox:checked~.menu_all {
            right: 12px;
        }

        .flex_menu {
            padding: 17px 13px 2px;

            .header__li {

                .header__link {
                    font-size: 8px;
                }
            }
        }

    }

    .first-screen__content {
        top: 0;

        .first-screen__title {
            font-size: 15px;
        }

        .first-screen__text {
            font-size: 12px;
        }
    }

    .title__main {
        font-size: 20px;
    }

    .section {
        padding-bottom: 30px;
    }


    .activities__passage {
        .activities__slogan {
            font-size: 15px;
            margin: 8px;
        }
    }

    .about {
        .flex {
            .about__img {
                max-width: 245px;
                margin-bottom: 20px;
            }

            .about__passage {
                .about__title {
                    font-size: 22px;
                }
            }
        }
    }

    .team {
        margin-bottom: 1730px;

        .card:first-of-type {
            left: 28px;
            top: 949px;
        }

        .card:nth-of-type(4) {
            left: 28px;
            top: 61px;
        }

        .card:nth-of-type(3) {
            left: 28px;
            top: 499px;
        }

        .card:nth-of-type(2) {
            left: 28px;
            top: 1384px;
        }
    }

    footer {
        .flex {
            flex-direction: column;
            text-align: center;

            .social {
                flex-direction: row;

            }
        }
    }


}

@media (max-width: 320px) {
    .container {
        max-width: 280px;
    }

    .header {
        .logo-text {
            margin-left: 4px;
        }
    }
}